@import url('http://fonts.cdnfonts.com/css/berlin-sans-fb-demi');

*{
  margin: 0px;
  padding: 0px;
  background-color: #272424;
}
body{
  max-height: 500px;
}
#list2 a{
  text-decoration: none;
  color: #eab934;
}
.list{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.list ul{
  display: inline;
  color: #eab934;
  margin-right:25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
 .image{
   position: relative;
   top: 160px;
   max-width: 25%;
   margin-left: 25%; 
   height: 510px;
 }
 .image2{
   position: relative;
   right: 394.5px;
   top: 670px;
   max-width: 25%;
   margin-left: 25%; 
   height: 510px;
 }
 .image3{
   position: absolute;
   right: 1130px;
   top: 970px;
   max-width: 25%;
   margin-left: 25%; 
   height: 510px;
 }

.ball1{
  position: relative;
  left: 35%;
  bottom: 20px;
}
.work{
  max-width: 100px;
}
.work h3{

  color: azure;
  position: absolute;
  left:410px;
  bottom: 465px;
  font-size: 47px;
  font-family: 'Raleway', sans-serif;
  color: #eab934;
}
/*works Section*/

.workcontainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: -250px;
  margin-left: -180px;
}
/*box1*/

.box1{
  width: 400px;
  height: 300px;
  background-color: #eab934;
  margin-bottom: 40px;
}
.box1h{
  position: absolute;
  margin-left: 420px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #eab934;
}
.box1p{
  position: absolute;
  width: 300px;
  margin-left: 420px;
  margin-top: 100px;
  text-align: justify;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #f5f5f5;
}
.i1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eab934;
}
.i2{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #eab934;
}
.i3{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #eab934;
}
#ic3 {
  background-color: #eab934;
  margin-left: 7px;
  margin-top: 7px;
}
#ic2 {
  background-color: #eab934;
  margin-left: 7px;
  margin-top: 7px;
}
#ic1 {
  background-color: #eab934;
  margin-left: 7px;
  margin-top: 7px;
}

.icons{
  display: flex;
  flex-direction: row;
  margin-left: 420px;
  margin-top: -70px;
  position: absolute;
}

/*box2*/
.box2{
  width: 400px;
  height: 300px;
  background-color: #eab934;
}
 
.box2h{
  position: absolute;
  margin-left: 420px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #eab934;
}
.box2p{
  position: absolute;
  width: 300px;
  margin-left: 420px;
  margin-top: 100px;
  text-align: justify;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #f5f5f5;
}
.ics1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eab934;
}
.ics2{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #eab934;
}
.ics3{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #eab934;
}
#in3 {
  background-color: #eab934;
  margin-left: 7px;
  margin-top: 7px;
}
#in2 {
  background-color: #eab934;
  margin-left: 7px;
  margin-top: 7px;
}
#in1 {
  background-color: #eab934;
  margin-left: 7px;
  margin-top: 7px;
}
.icons2{
  display: flex;
  flex-direction: row;
  margin-left: 420px;
  margin-top: -70px;
  position: absolute;
}
/*box3*/
.box3{
  margin-top: 50px;
  width: 400px;
  height: 300px;
  background-color: #eab934;
}
.box3h{
  position: absolute;
  margin-left: 420px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #eab934;
}
.box3p{
  position: absolute;
  width: 300px;
  margin-left: 420px;
  margin-top: 100px;
  text-align: justify;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #f5f5f5;
}
