@import url('http://fonts.cdnfonts.com/css/berlin-sans-fb-demi');

*{
  margin: 0px;
  padding: 0px;
  background-color: #272424;
}
#list2 a{
  text-decoration: none;
  color: #eab934;
}
.list{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.list ul{
  display: inline;
  color: #eab934;
  margin-right:25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
 .image{
   position: relative;
   top: 160px;
   max-width: 25%;
   margin-left: 25%;
   
   height: 510px;
 }
 .textmid{
   position: relative;
   bottom:360px;
   left: 410px;
   max-width: 25%;
   border:1px solid #272424;
   font-family: 'Raleway', sans-serif;
   font-size: 40px;
   color: #eab934;
}
.textmid p{
  position: relative;
  left: 10px;
  top: 10px;
  max-width: 70%;
  border:1px solid #272424;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #ffffff;
}
.buttonabout{
  position: absolute;
  margin-top: -330px;
  margin-left: 420px;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  background-color: #eab934;
}
.buttonabout p{
  max-width: 100px;
  color: white;
  margin-left: 20px;
  margin-top: 7px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  background-color: #eab934;
}
.buttonwork{
  position: absolute;
  margin-top: -330px;
  margin-left: 570px;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  border: white 1px solid;
}
.buttonwork p{
  max-width: 40px;
  color:#eab934;
  margin-left: 35px;
  margin-top: 7px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.ball1{
  position: relative;
  left: 35%;
  bottom: 20px;
}


/*ICONS ANIMATION*/

a {
  color: #fff;
  text-decoration: none;
}
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: absolute;
  top: 320px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  display: block;
  margin: 5px;
  background-color: #161414;
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: #161414;
}
.social ul li:hover a {
  color: rgb(255, 255, 255);
}
.social ul li:hover i {
  
  color: rgb(255, 255, 255);
  background:#eab934;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #161414;
  background: #ffffff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

