@import url('http://fonts.cdnfonts.com/css/berlin-sans-fb-demi');

*{
  margin: 0px;
  padding: 0px;
  background-color: #272424;
}
#list2 a{
  text-decoration: none;
  color: #eab934;
}
.list{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.list ul{
  display: inline;
  color: #eab934;
  margin-right:25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
 .image{
   position: relative;
   top: 160px;
   max-width: 25%;
   margin-left: 25%;
   
   height: 510px;
 }
 .textmid{
   position: relative;
   bottom:360px;
   left: 410px;
   max-width: 25%;
   border:1px solid #272424;
   font-family: 'Raleway', sans-serif;
   font-size: 40px;
   color: #eab934;
}
.textmid p{
  position: relative;
  left: 10px;
  top: 10px;
  max-width: 70%;
  border:1px solid #272424;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #ffffff;
}
.buttonabout{
  position: absolute;
  margin-top: -330px;
  margin-left: 420px;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  background-color: #eab934;
}
.buttonabout p{
  max-width: 100px;
  color: white;
  margin-left: 20px;
  margin-top: 7px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  background-color: #eab934;
}
.buttonwork{
  position: absolute;
  margin-top: -330px;
  margin-left: 570px;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  border: white 1px solid;
}
.buttonwork p{
  max-width: 40px;
  color:#eab934;
  margin-left: 35px;
  margin-top: 7px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
.socialball{
  width: 230px;
  height: 230px;
  background-color: #eab934;
  border-radius: 50%;
  position: relative;
  margin-top: -360px;
  margin-left:-120px;
}
.ball1{
  position: relative;
  left: 35%;
  bottom: 20px;
}
